### Problem : Who is in the third place?

Create a function whose name is ```third_place``` that does the following: 

Given a list of test score and a list of participants name. The desired output would be the name of the participant who gets the 3rd best score. The rule of determining the order of the best score is as follows:
- Higher score is better
- In case of multiple participants having the same test score, they can occupy the same ranking value. For example, if 2 participants scored 100, then both of them occupy the first place. 

The first input of the function is the name list, and the second input to the function is the score list.

##### Example 1:

Input:

names = [Andi, Budi, Charlie, Dilan, Echa]

score = [80, 90, 95, 100, 85]

This means, Andi gets 80, Budi gets 90, Charlie gets 95, Dilan gets 100, and Echa gets 85. The first best score is 100, and Dilan gets it. The second best score is 95, and Charlie gets it. The third best score is 90, and Budi gets it. So, our output should be Budi.

Output: 'The third winner: Budi'.

When we run ```third_place(names, score)```, the output will be 'The third winner: Budi'.

##### Example 2:

Input:

names = [Andi, Budi, Charlie, Dilan, Echa]

score = [80, 80, 80, 100, 90]

This means, Andi, Budi, and Charlie gets 80, Dilan gets 100, and Echa gets 90. The third best score is 80, and our output should list ALL of the participants who get 80. 

Output: 'The third winner: Andi, Budi, Charlie'.

When we run ```third_place(names, score)```, the output will be 'The third winner: Andi, Budi, Charlie'.


##### Example 3:

Input:

names = [Andi, Budi, Charlie, Dilan, Echa, Fanya]

score = [80, 90, 90, 100, 100, 80]

The first best score (first winner) is 100 - Dilan and Echa shared this position. The second best score (second winner) is 90 - Budi and Charlie shared this position. The third best score (third winner) is 80, and it is shared by Andi and Fanya. So, our output should be Andi and Fanya.

Output: 'The third winner: Andi, Fanya'.

In [ ]:
# Import the required library
import pandas as pd
import re

# Make a function
def third_place(names, score):

  # Convert the inputs to dictionary
    y = dict({'Nama':names})
    x = dict({'Skor':score})

    # Convert each dictionaries to data frame and concatenate them
    dfy = pd.DataFrame([y])
    dfx = pd.DataFrame([x])
    df = pd.concat([dfy, dfx], axis = 1)

    # Explode the cells of 'Nama' and "Skor" from one row to many
    df_nama = df['Nama'].explode().reset_index()
    df_skor = df['Skor'].explode().reset_index()
    df = pd.concat([df_nama, df_skor], axis = 1)
    df = df.drop(columns="index")

    # Group the data frame by 'Skor' column
    df_groupby = df.groupby('Skor').sum().sort_values(['Skor'], ascending = False)
    
    # Select the name for third rank
    result = df_groupby.iloc[2].values[0]
    final_result = re.findall('[A-Z][^A-Z]*', result)
    the_name = ' dan '.join(map(str, final_result))

    # Output
    print('The third rank is :', the_name)

In [ ]:
# Please use "" for input the name
third_place(['Andi', 'Budi', 'Charlie', 'Dilan', 'Echa', 'Fanya'], [80, 90, 90, 100, 100, 80])

The third rank is : Andi dan Fanya